body {
    height: 100%;
    font-family: 'Gilroy-Medium';
}
.container {
    max-width: 910px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
.head {
    background-color: #fff;
    padding: 32px 0;
    border-bottom: 1px solid #828282;
    width: 100%;
    &__row {
    }
    &__list {
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        & a {
            font-family: 'Gilroy-Bold';
            font-size: 18px;
            line-height: 22px;
            color: #828282;
            &:hover {
                font-family: 'Gilroy-Bold';
                font-size: 18px;
                line-height: 22px;
                color: #070707;
            }
        }
    }
    &__language {
        display: none;
    }
    &__eng {
        color: #828282;
        &.active {
            color: #070707;
        }
    }
    &__ru {
        color: #828282;
        &.active {
            color: #070707;
        }
    }
    &__burger {
        display: none;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
}
.title {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}
.subtitle {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}
.main {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 40px 0 50px 0;
        & h1 {
            font-family: 'Gilroy-Bold';
            font-size: 47.3392px;
            line-height: 59px;
            color: #070707;
        }
        & p {
            font-size: 18px;
            line-height: 22px;
            color: #070707;
        }
    }
    &__language {
        transform: rotate(-90deg);
        align-self: baseline;
        margin-top: 75px;
        & a{
            &:hover {
                font-family: 'Gilroy-Bold';
                font-size: 16px;
                line-height: 20px;
                color: #070707;
            }
            &:active {
                font-family: 'Gilroy-Bold';
                font-size: 16px;
                line-height: 20px;
                color: #070707;
            }
        }
        & span {
            font-family: 'Gilroy-Bold';
            font-size: 16px;
            line-height: 20px;
            color: #828282;
        }
    }
    & img {
        width: 100%;
    }
    &__eng {
        font-family: 'Gilroy-Bold';
        color: #828282;
        &.active {
            font-family: 'Gilroy-Bold';
            color: #070707;
        }
    }
    
    &__ru {
        font-family: 'Gilroy-Bold';
        color: #828282;
        &.active {
            font-family: 'Gilroy-Bold';
            color: #070707;
        }
    }
}
.about {
    &__wrap {
        background-color: #F6F6F6;
    }
    &__content {
        padding: 120px 0 107px 0;
        text-align: center;
        & h2 {
            margin-bottom: 18px;
        }
        & p:not(:last-child) {
            margin-bottom: 54px;
        }
    }
}
.skills {
    &__content {
        background-color: #fff;
        text-align: center;
        padding: 91px 0 83px 0;
        & h2 {
            margin-bottom: 69px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 110px;
    }
    &__column {
        display: flex;
        flex: 0 1 50%;
    }
    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 25%;
        & img {
            margin-bottom: 24px;
        }
        & p {
            font-family: 'Gilroy-Bold';
            font-size: 14px;
            line-height: 17px;
            color: #828282;
            margin-bottom: 40px;
            flex-grow: 1;
        } 
    }
}
.stars {
    & img:not(:last-child) {
        margin-right: 9px;
    }
}
.portfolio {
    &__wrap {
        background-color: #F6F6F6;
    }
    &__content {
        text-align: center;
        padding: 113px 0 96px 0;
        & h2 {
            margin-bottom: 47px;
        }
        & a {
            display: inline-block;
            font-size: 18px;
            line-height: 22px;
            text-decoration-line: underline;
            color: #070707;
        }
        & a:not(:last-child) {
            margin: 45px 0 99px 0;
        }
        & a:last-child {
            margin: 45px 0 0 0;
        }
        & img {
           max-width: 100%;
        }
    }
}
.contacts {
    &__content {
        text-align: center;
        padding: 114px 0 123px 0;
        & h2 {
            margin-bottom: 20px;
        }
        & p:not(:last-child) {
            margin-bottom: 30px;
        }
        & p:last-child {
            font-size: 14px;
            line-height: 17px;
            color: #828282;
        }
        & button {
            background-color: #070707;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
            padding: 13px 29px;
            border-radius: 26px;
            cursor: pointer;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        padding: 86px 0 46px 0;
    }
    &__column {
        &:not(:last-child) {
            margin-right: 61px;
        }
    }
    &__list {
        display: flex;
        & li:not(:last-child) {
            margin-right: 61px; 
        }
    }
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
.slider__item {
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease 0s;  
}
.slider__item.slick-active {
    opacity: 1;
}
.slider {
    min-width: 100%;
    overflow: hidden;
    padding-bottom: 104px;
}

/*boogie*/

@media (max-width:767px) {
    body {
        &.lock {
            overflow: hidden;
        }
    }
    .head {
        position: relative;
        border-bottom: none;
        padding: 65px 0 0 0;
        &__row {
            position: fixed;
            background-color: #fff;
            height: 100%;
            width: 100%;
            top: -200%;
            left: 0;
            transition: all 0.75s ease 0s;
            z-index: 2;
            padding: 65px 0 0 26px;
            &.active {
                position: fixed;
                background-color: #fff;
                height: 100%;
                width: 100%;
                z-index: 1;
                top: 65px;
                left: 0;
                transition: all 0.75s ease 0s;
                padding: 0 0 0 26px;
                
            }
        }
        &__burger {
            display: block;
            bottom: -35px;
            z-index: 2;
            &.active {
                position: fixed;
                top: 75px;
                right: 15px;
                background-image: url(../img/burger/esc.svg);
                height: 23px;
                width: 23px;
                background-size: cover;
                background-position: center;
                & img {
                    display: none;
                }
            }
        }
        &__list {
            display: flex;
            flex-direction: column;
            justify-content: start;
        }
        &__item {
            & a {
                font-family: 'Gilroy-Bold';
                font-size: 34px;
                line-height: 42px;
                color: #828282;
                &:hover {
                    font-family: 'Gilroy-Bold';
                    font-size: 34px;
                    line-height: 42px;
                    color: #828282;
                }
                &:active {
                    font-family: 'Gilroy-Bold';
                    font-size: 34px;
                    line-height: 42px;
                    color: #070707;
                }
            }
            &:not(:last-child) {
                margin: 0 0 68px 0;
            }
        }
        &__language {
            display: block;
            position: absolute;
            bottom: 100px;
            right: 15px;
            transform: rotate(90deg);
            align-self: baseline;
            opacity: 0;
            transition: all 0.75s ease 0s;
            &.active {
                position: absolute;
                display: block;
                bottom: 170px;
                right: 0;
                transform: rotate(90deg);
                align-self: baseline;
                margin-top: 75px;
                opacity: 1;
                transition: all 0.75s ease 0s;
            }
            & a {
                font-family: 'Gilroy-Bold';
                font-size: 34px;
                line-height: 42px;
                &:active {
                    font-family: 'Gilroy-Bold';
                    font-size: 34px;
                    line-height: 42px;
                    color: #070707;
                }
            }
            & span {
                font-family: 'Gilroy-Bold';
                font-size: 34px;
                line-height: 42px;
                color: #828282;
            }
        }
    }
    .slider__item {
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease 0s;
        & img {
            height: 100%;
        }
    }
    .main {
        &__language {
            display: none;
        }
        &__row {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0 0 37px 0;
            & h1 {
                font-size: 47px;
                line-height: 58px;
                margin: 0 0 23px 0;
            }
        }
        & img {
            width: 99%;
        }
    }
    .skills {
        &__row {
            display: flex;
        }
        &__column {
            display: flex;
            flex-direction: column;
        }
    }
}
@media (max-width:375px) {
    .skills {
        &__row {
            display: flex;
            flex-direction: column;
        }
        &__column {
            display: flex;
            flex-direction: column;
        }
    }
    .contacts {
		&__social {
            display: flex;
            flex-direction: column;
            align-items: center;
		}
		&__column {
            &:not(:last-child) {
                padding: 0 0 20px 0;
                margin: 0;
            }
		}
    }
        
}